<%- include ('partials/header') %>

<div class="outer">
	<div class="inner">
	<h1>Welcome</h1>
	<h6>Tell us what you wanna do ?</h6>
	<a href="/add"><button class="btn btn-light circle">Add</button></a>
	<a href="/update"><button class="btn btn-light circle">Update</button></a>
	<a href="/delete"><button class="btn btn-light circle">Delete</button></a>
	<a href="/logout"><button class="btn btn-light circle">Logout</button></a>
	</div>
</div>

<%- include ('partials/footer') %>